@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.app-wrapper {
  height: var(--app-height);
}

html, body, #root {
  height: 100%; /* h-screen 대신 */
  overflow: hidden; /* 키보드로 전체 레이아웃 밀리는 거 방지 */
  overscroll-behavior: none; /* 터치 스크롤 시 바운스 효과 방지 */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 커스텀 스크롤바 */
.custom-scrollbar {
  scrollbar-width: thin;            /* Firefox */
  scrollbar-color: #d0d5dd #ffffff; /* thumb color / track color */
}

/* Webkit 브라우저 */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
  border: 2px solid #f3f3f3;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}